.hero {
    color: white;
 }
 .namee {
     width: 30vw;
     color: white;
 }
 .txt {
    width: 20vw;
    height: 30vh;
    color: white;
 }
 label {
     color: white;
 }
 .ftr {
     color: rgba(54, 49, 49, 0.781);
     font-weight: bold;
 }
 .what1 {
     display: none;
 }
 .what2{
    display: none;
}
.what3 {
    display: none;
}
.card::after {
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: 0.5; */
}
.img1, .img2, .img3{
    margin-left: 150px;
}
.titl {
    margin-right: 20px;
    margin-top: 10px;
}
.card {
    border-radius: 0px;
}
.card-title {
    border: .3px solid white;
    border-width: 7px;
    height: 27vh;
    width: 17vw;
    display: none;
    font-weight: 900;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    
}